md-card img {
  width: 100%;
  height: auto;
  min-height: 0px;
}

md-icon {
  height: auto;
}

.filters md-input-container {
  margin-right: 10px;
}

button .material-icons{
  margin-top: -13px;
}
md-content{
  margin:auto;
}
md-input-container.input-text{
  margin-top: 15px;
}

.listing.ng-enter, .listing.ng-move{
  transition: 0.4s all;
  opacity: 0;
}

.listing.ng-enter.ng-enter-active, .listing.ng-move.ng-move-active{
  opacity: 1;
}

.listing.ng-leave{
  animation: 0.4s fade_listing;
}

@keyframes fade_listing{
  from{opacity: 1;}
  to{opacity: 0;}
}